In [7]:
import numpy as np 
import pandas as pd 
import os 
import numpy as np 
import pandas as pd 
from sklearn.decomposition import NMF

# Load the data

In [6]:
ratings = pd.read_csv("ratings.csv")
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
ratings = pd.read_csv("/Users/orlikagan/Desktop/MSC_DS/סמסטר ב/סמינר DS/data/ratings.csv")
movies = pd.read_csv("/Users/orlikagan/Desktop/MSC_DS/סמסטר ב/סמינר DS/data/movies.csv")

In [4]:
movies = pd.read_csv("movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

# Matrix factorization example

In [4]:
combined_table = pd.merge(ratings, movies, on='movieId')
user_item = combined_table.pivot_table(index='userId', columns='title', values='rating', 
                                       fill_value=0)

In [5]:
model = NMF(n_components=2, random_state=42)

In [6]:
user_matrix = model.fit_transform(user_item)

In [7]:
item_matrix = model.components_

In [12]:
demo_user_index = 27
print(f"Selected user: {demo_user_index}")
print("Here is a [partial] list of what they rated:")

# This is what they already rated high (top 10)
use_cols = "userId title rating".split()
use_rows = combined_table.userId == demo_user_index
partial_table = combined_table.loc[use_rows, use_cols].sort_values("rating").tail(10)
print(partial_table)

# Recommendatinos 
this_user = user_matrix[demo_user_index, :]
recommendation_level = item_matrix.T @ this_user 
recommendation_sorted = pd.Series(recommendation_level, index=user_item.columns).sort_values(ascending=False)
print("="*80)
print("And here are the new top recommendations:")
print(recommendation_sorted.head(10))

Selected user: 27
Here is a [partial] list of what they rated:
       userId                                              title  rating
48672      27             Wallace & Gromit: A Close Shave (1995)     5.0
22256      27                             West Side Story (1961)     5.0
22566      27                     Gods Must Be Crazy, The (1980)     5.0
49056      27                       To Kill a Mockingbird (1962)     5.0
58504      27                                     Charade (1963)     5.0
2442       27                                Forrest Gump (1994)     5.0
12370      27                              ¡Three Amigos! (1986)     5.0
8733       27                          Back to the Future (1985)     5.0
71110      27                                     Ben-Hur (1959)     5.0
71067      27                           Great Escape, The (1963)     5.0
28082      27                          Mr. Holland's Opus (1995)     5.0
6460       27                  E.T. the Extra-Terrestrial (1982)     5.0
43912      27                                     Titanic (1997)     5.0
13089      27   Star Wars: Episode I - The Phantom Menace (1999)     5.0
6994       27                         Princess Bride, The (1987)     5.0
7142       27  Raiders of the Lost Ark (Indiana Jones and the...     5.0
64664      27                             King and I, The (1956)     5.0
64436      27                         Sound of Music, The (1965)     5.0
25043      27                                        Babe (1995)     5.0
15547      27                                        Hook (1991)     5.0
================================================================================
And here are the new top recommendations:
title
Matrix, The (1999)                                           3.776739
Forrest Gump (1994)                                          3.746485
Shawshank Redemption, The (1994)                             3.647929
Pulp Fiction (1994)                                          3.537969
Fight Club (1999)                                            3.398445
Star Wars: Episode IV - A New Hope (1977)                    3.383946
Star Wars: Episode V - The Empire Strikes Back (1980)        3.204945
Lord of the Rings: The Fellowship of the Ring, The (2001)    3.113159
Silence of the Lambs, The (1991)                             3.080390
Lord of the Rings: The Return of the King, The (2003)        3.027757
dtype: float64